ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;

}
li a:hover{

    background-color: #111;

}
welcomeMessage{

    text-align: center;
    color: white;

}
websiteDescription{

    float: left;
    width: 60%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 825px

}

login{

    float: left;
    width: 20%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 825px;

}
newUser{

    float: left;
    width: 20%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 825px;

}
user{

    float: left;
    width: 25%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px;

}
topicsCompleted{

    float: left;
    width: 25%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px;

}
highestScore{

    float: left;
    width: 25%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px;

}
recentScores{

    float: left;
    width: 25%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px

}
.topicTitle{

    font-color: dimgray;
    font-size: larger;
    border-style: none;
    border-bottom: dimgray;
    border-radius: 12px;
    padding: 5px;

}
.topicDescription{

    font-color: dimgray;
    font-size: medium;
    border-radius: 12px;
    border-style: none;
    border-color: dimgray;
    padding: 5px;

}
topic{

    float: left;
    width: 25%;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 500px;

}
topicOneDescription{

    float: left;
    width: 75%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 825px;

}
topicOneRecentScores{

    float: left;
    width: 25%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 825px;

}
topicOneDescription{

    float: left;
    width: 75%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 500px;

}
topicOneRecentScores{

    float: left;
    width: 25%;
    text-align: left;
    padding: 2px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 12px;
    height: 500px;

}
highestScores{

    float: left;
    width: 50%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px;

}
recentScore{

    float: right;
    width: 50%;
    text-align: center;
    border-color: dimgray;
    border-radius: 12px;
    border-style: solid;
    height: 825px

}